::placeholder{
    color: red;
}
/* media .img */
.img{
    background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
    .img{
        background-image: url(image@2x.png);
    }
}
/* .box{} */