@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    @apply h-full bg-center bg-no-repeat w-logo;
    background-image: url("./img/logo.png");
    background-size: contain;
  }
  
  nav li::after {
    @apply absolute left-0 w-0 transition-all duration-700 ease-linear h-2px bottom-1 bg-custom-black;
    content: "";
  }
  
  nav li:hover::after {
    @apply w-full;
  }
  
  .nav-bar{
    @apply px-1.2vw py-0 relative max-sm:w-full max-sm:bg-custom-white max-sm:text-center max-sm:border-b max-sm:border-sky-50 sm:leading-50 md:leading-80;
  }
  
  .btn-bg{
      @apply bg-center bg-no-repeat;
      background-image: url("./img/btn.png");
  }
  
  #pic li:nth-child(1){
      @apply bg-center bg-no-repeat;
      background: url('./img/1.jpg');
  }
  
  #pic li:nth-child(2){
      @apply bg-center bg-no-repeat;
      background: url('./img/2.jpg');
  }
  
  #pic li:nth-child(3){
      @apply bg-center bg-no-repeat;
      background: url('./img/3.jpg');
  }
  
  .footer-bg{
    @apply bg-center bg-no-repeat;
    background-image: url("./img/bottom.jpg");
  }
  
  .item{
    @apply p-20 m-10 text-center border border-gray-300 border-solid md:w-46 lg:w-30 xl:w-22;
  }
  
  .img{
    @apply text-center transition-all duration-300 cursor-pointer opacity-90 rounded-xl hover:opacity-100 hover:scale-110;
  }