@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
    @apply float-left max-w-[700] h-40 shadow-md;
}

.btn {
    @apply w-8 h-40 duration-200 opacity-0 cursor-pointer transition-width checked:w-56;
}

.bg-img-1 {
    @apply bg-center bg-no-repeat bg-cover;
    background-image: url('./img/1.jpg');
}


.bg-img-2 {
    @apply bg-center bg-no-repeat bg-cover;
    background-image: url('./img/2.jpg');
}

.bg-img-3 {
    @apply bg-center bg-no-repeat bg-cover;
    background-image: url('./img/3.jpg');
}

.bg-img-4 {
    @apply bg-center bg-no-repeat bg-cover;
    background-image: url('./img/4.jpg');
}
.bg{
    @apply opacity-0 absolute top-0 left-0 w-screen h-screen -z-50 blur-[5px];
}