body{
    background-color: red;
    font-size: 20px;
}
.box1{
    border: 1px solid red;
    -webkit-transform: rotate(120px);
        -ms-transform: rotate(120px);
            transform: rotate(120px);
    border-color: #008c8c;
}