.container{
    .wrapper{
        .box{
            color: red;
            font: {
                size: 14px;
                weight: 900;
                family: 'Arial';
            }
            &.active{
                color: blue;
            }
        }
    }
}

.box{
    height: calc(100% - 10px);
    width: calc(100% - 10%);
}

$width1: 100px;
$width2: 200px;
.box{
    width: max($width1, $width2);
    height: min($width1, $width2);
}

$max: 250px;
$min: 50px;
.box{
    width: clamp($min, 10vw, $max);
}