@mixin test {
    font-size: 12px;
    color: red;
}

@mixin test2 {
    @include test;
    text-align: center;
}

@mixin test3 ($size: 14px, $color: red) {
    font-size: $size;
    color: $color;
}

div {
    height: 100px;
    @include test;
}

span {
    line-height: 20px;
    @include test2;
}

p {
    @include test3(null, blue);
}

$args: 21px,
#008c8c;

i {
    @include test3($args...);
}


@mixin test4 {
    div {
        @content;
    }
}

@include test4 {
    color: aqua;
    font-size: 13px;
}


@mixin button-theme ($color: #000000) {
    background-color: $color;
    border: 1px solid darken($color, 15%);

    &:hover {
        background-color: lighten($color, 5%);
        border-color: darken($color, 10%);
    }

    @content;
}

button {
    @include button-theme(#008c8c) {
        // @content;
        height: 40px;
        width: 100px;
    }
}