@import './variable';
@import './mixins';
@import './header';


div{
    border: 1px solid $borderColor;
    color: $color;
    @include test ($color);
}

.navigation{
    @media (max-width: 768px) and (min-width: 320px) {
        color: $color;
        @include test ($color);
    }
}


.button{
    border: 1px solid red;
    background-color: #eee;
    color: #999;
}

.search-button{
    @extend .button;
    border: 1px solid blue;
}

%btn{
    border: 1px solid green;
    background-color: #ccc;
    color: #333;
}

.search-button{
    @extend %btn;
    border: 1px solid red;
}



.parent{
    color: red;
    @at-root.child1{
        color: green;
    }
    @at-root {
        .child2{
            color: yellow;
        }
        .child3{
            color: blue;
        }
    }
}